@page
@model KidsClub.Pages.UserTestimonials.DetailsModel
@{
}

<div class="container">
    <br />
    <div class="row" style="width:100%">
        <div class="col-sm-7">
            <div class="container">
                <div class="d-flex flex-row">
                    <section class="content">
                        <div class="container-fluid">
                            <div class="row mt-3">
                                <div class="col-md-12 offset-md-1">
                                    <div class="card card-secondary">
                                        <div class="card-header bg-light">
                                            <h4 class="card-title">Testimonial</h4>
                                        </div>
                                        <div class="list-group">
                                            <div class="list-group-item">
                                                <div class="row">
                                                    <div class="col px-7" style="padding-right:30px">
                                                        <div style="width:700px; height:80%">
                                                            <div class="card p-3 text-center px-4">

                                                                <div class="user-image">

                                                                    <img src="~/Pictures/user_2.jpg" class="rounded-circle" width="80">

                                                                </div>

                                                                <div class="user-content">

                                                                    <h6 class="mb-0">@Html.DisplayFor(model => model.TblTestimony.FromId)</h6>
                                                                    <span>@Html.DisplayFor(model => model.TblTestimony.Title)</span>
                                                                    <br />
                                                                    <br />
                                                                    <label class="rating-label">
                                                                        <input class="rating rating--nojs" style="margin-left:43%"
                                                                               max="5"
                                                                               step="1"
                                                                               type="range"
                                                                               value="@Html.DisplayFor(model => model.TblTestimony.Qty)">
                                                                    </label>
                                                                    <p>@Html.DisplayFor(model => model.TblTestimony.ShortDescription)</p>
                                                                </div>

                                                                <div>
                                                                    @Html.DisplayFor(model => model.TblTestimony.DateEntered)
                                                                </div>

                                                            </div>

                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </section>

                </div>

            </div>

            
             <div class="container">
                    <div class="d-flex flex-row">
                        <section class="content">
                            <div class="container-fluid">
                                <div class="row mt-3">
                                    <div class="col-md-12 offset-md-1">
                                        <div class="card card-secondary">
                                            <div class="card-header bg-light">
                                                <h4 class="card-title">Your Comment</h4>
                                            </div>
                                            <div class="list-group">
                                                <div class="list-group-item">
                                                    <div class="row">
                                                        <div class="col px-7">
                                                            <div style="width:715px">
                                                                
                                                                <section class="content">
                                                                    <form method="post">
                                                                        <section class="content">
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <div class="card">
                                                                                        <div class="card-body">
                                                                                            
                                                                                            <input type="hidden" asp-for="TblCommentor.Id" />
                                                                                            <input type="hidden" asp-for="TblCommentor.CategoryId" />
                                                                                            <br />
                                                                                            <div class="form-group">
                                                                                                <input asp-for="TblCommentor.Title" class="form-control" placeholder="Your Opinion" />
                                                                                                <span asp-validation-for="TblCommentor.Title" class="text-danger"></span>
                                                                                            </div>
                                                                                            <br />
                                                                                            <div class="form-group">
                                                                                                <input asp-for="TblCommentor.ShortDescription" class="form-control" placeholder="Details of Your Opinion" />
                                                                                                <span asp-validation-for="TblCommentor.ShortDescription" class="text-danger"></span>
                                                                                            </div>
                                                                                            <br />
                                                                                            @*<div class="form-group">
                                                                                                <input asp-for="TblCommentor.Qty" class="form-control" placeholder="How would you rate testimonial?" />
                                                                                                <span asp-validation-for="TblCommentor.Qty" class="text-danger"></span>
                                                                                            </div>
                                                                                            <br />*@
                                                                                            @*<div class="form-group form-check">
                                                                                                <label class="form-check-label">
                                                                                                    <input class="form-check-input" asp-for="TblCommentor.IsDefault" /> @Html.DisplayNameFor(model => model.TblCommentor.IsDefault)
                                                                                                </label>
                                                                                            </div>
                                                                                            <div class="form-group form-check">
                                                                                                <label class="form-check-label">
                                                                                                    <input class="form-check-input" asp-for="TblCommentor.IsArchived" /> @Html.DisplayNameFor(model => model.TblCommentor.IsArchived)
                                                                                                </label>
                                                                                            </div>
                                                                                            <br />*@
                                                                                            <div class="form-group">
                                                                                                <input type="submit" value="Save" class="btn btn-primary float-left" />
                                                                                               @* <a asp-page="./Details" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');"
                                                                                                   asp-page-handler="Delete" asp-route-attendeeId="@Model.TblCommentor?.Id">Delete</a>*@
                                                                                                
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </section>
                                                                    </form>
                                                                </section>
                                                                <br />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
        </div>
        <div class="col-sm-3">
            <div class="container" style="margin-left:60px; font-size: 15px">
                <div class="d-flex flex-row">
                    <section class="content">
                        <div class="container-fluid">
                            <div class="row mt-3">
                                <div class="col-md-12 offset-md-1">
                                    <div class="card card-secondary">
                                        <div class="card-header bg-light">
                                            <h4 class="card-title" style="width:350px">All Comments</h4>
                                        </div>
                                        <div class="list-group">
                                            @foreach (var item in Model.TblComments)
                                            {
                                                <div class="row">
                                                    <div class="col px-4" style="padding-top:5px">
                                                        <div style="width:350px">
                                                            <div>
                                                                <div class="row">
                                                                    <div class="col-sm-5">
                                                                        <b>Username</b>
                                                                    </div>
                                                                    <div class="col-sm-7">
                                                                        @Html.DisplayFor(modelItem => item.FromId)
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-sm-5">
                                                                        <b>Opinion</b>
                                                                    </div>
                                                                    <div class="col-sm-7">
                                                                        @Html.DisplayFor(modelItem => item.Title)
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-sm-5">
                                                                        <b>Experience</b>
                                                                    </div>
                                                                    <div class="col-sm-7">
                                                                        @Html.DisplayFor(modelItem => item.ShortDescription)
                                                                    </div>
                                                                </div>
                                                                
                                                                       @{
                                                                            string trimmed = item.FromId;
                                                                            item.FromId = trimmed.Replace(" ", "");
                                                                        }
                                                                @if (User.Identity.Name == item.FromId)
                                                                {
                                                                    <div class="row">
                                                                        &nbsp;
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                        </div>
                                                                        <div class="col-sm-5">
                                                                                          
                                                                                        <a class="btn-sm btn-info" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                                                                                        &nbsp;&nbsp;

                                                                                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn-sm btn-secondary bg-danger">Delete</a>
                                                                                
                                                                        </div>
                                                                    </div>


                                                                }
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr />
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<a style="margin-left:120px" asp-page="/UserTestimonials/Index"><b>Go Back</b></a>
