@page
@model KidsClub.Pages.Admin_roles.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout_admin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Roles</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Assigned Roles</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Assigned Roles</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th style="width: 20%">
                            Role
                        </th>
                        <th style="width: 25%">
                            Description
                        </th>
                        <th style="width: 10%">
                            Photo
                        </th>
                        <th>
                            Project Status
                        </th>
                        <th style="width: 8%" class="text-center">
                            Active
                        </th>
                        <th style="width: 20%">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.AspNetRole) {
                    <tr>
                        <td style="color: black">
                                @Html.DisplayFor(modelItem => item.NormalizedName)
                        </td>
                        <td>
                            <a>
                                @Html.DisplayFor(modelItem => item.Description)
                            </a>
                        </td>
                        <td>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar.png">
                                </li>
                            </ul>
                        </td>
                        <td class="project_progress">
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-green" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width: 57%">
                                </div>
                            </div>
                            <small>
                                57% Complete
                            </small>
                        </td>
                            <td class="project-state">
                                <span class="bg-orange">@Html.DisplayFor(modelItem => item.IsActive)</span>
                        </td>
                        <td class="project-actions text-right">
                                <a class="btn btn-info btn-sm" asp-page="./Details" asp-route-id="@item.Id">
                                <i class="fas fa-folder">
                                </i>
                               
                                 </a>
                                <a class="btn btn-info btn-sm bg-blue" asp-page="./Edit" asp-route-id="@item.Id">
                                <i class="fas fa-pencil-alt">
                                      
                                </i>
                                </a>
                                <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-id="@item.Id">
                                <i class="fas fa-trash">
                                </i>
                                
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>
<button class="btn bg-gray float-right" style="margin-right: 10px" >
    <a asp-page="./Create">Create New Role</a>
</button>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AspNetRole[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetRole[0].NormalizedName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetRole[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetRole[0].ConcurrencyStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetRole[0].IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetRole[0].DateEntered)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AspNetRole) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NormalizedName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConcurrencyStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEntered)
            </td>
            <td>
                |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
